$black: #121212;
$black-lighter: #1a1a1a;

$green: #5fa052;
$text-primary: black;
$text-highlight: white;

$bg-primary: #f0f0f0;
$bg-primary-shade: #e0e0e0;
$bg-primary-dark: #d0d0d0;
$bg-secondary: #da635d;
$bg-secondary-shade: #ca605a;
$bg-hover: gray;

$button-bg-primary: #da635d;
$button-bg-secondary: #cc0d00;
$button-text-primary: white;

$mobile: 'only screen and (max-width: 768px)';
$tablet: 'only screen and (min-width: 769px)';
$tablet-only: 'only screen and (min-width: 769px) and (max-width: 1023px)';
$desktop: 'only screen and (min-width: 1024px)';
